<div class="row">
  <div class="col-b12 col-m12">
    <div id="order-comments">
      <p><label for="mess">Комментарии к заказу:</label>
        <textarea name="mess" id="mess" class="inputbox"></textarea>
      </p>
      <div class="erd"></div>
      <div class="row b-btn">
        <div class="col-b9 col-m12 col-s9 col-xs12">
        </div>
        <div class="col-b3 col-m12 col-s3 col-xs12">
         <!-- <input id="button-submit" type="button" class="btn btn-flat-green btn-wide" value="Подтвердить заказ"> -->
        </div>
      </div>
    </div>
	  <?php echo $payment; ?>
  </div>
</div>
