<?php echo $header; ?>
<!-- page -->
<div id="page">
    <div class="wrap">
        <!-- breadcrumbs -->
        <div class="breadcrumbs breadcrumb">
            <?php $end_breadcrumb = array_pop($breadcrumbs); ?>
            <?php foreach ($breadcrumbs as $breadcrumb) { ?>
            <a href="<?php echo $breadcrumb['href']; ?>" class="pathway"><?php echo $breadcrumb['text']; ?></a>
            <?php } ?>
            <span><?php echo $end_breadcrumb['text']; ?></span>
        </div>
        <?php if ($attention) { ?>
        <div class="alert alert-info"><i class="fa fa-info-circle"></i> <?php echo $attention; ?>
            <button type="button" class="close" data-dismiss="alert">&times;</button>
        </div>
        <?php } ?>
        <?php if ($success) { ?>
        <div class="alert alert-success"><i class="fa fa-check-circle"></i> <?php echo $success; ?>
            <button type="button" class="close" data-dismiss="alert">&times;</button>
        </div>
        <?php } ?>
        <?php if ($error_warning) { ?>
        <div class="alert alert-danger"><i class="fa fa-exclamation-circle"></i> <?php echo $error_warning; ?>
            <button type="button" class="close" data-dismiss="alert">&times;</button>
        </div>
        <?php } ?>
        <!-- end.breadcrumbs -->
        <!-- content -->
        <div class="page-content">
            <h1 class="page-title"><?php echo $heading_title; ?></h1>
            <div class="order-wrap">
                <div class="b-order-cart">
                    <div class="order-cart">
                        <a href="/shopping-cart" class="btn-flat-green btn btn-wide">Редактировать корзину</a>

                        <!-- products -->
                        <div class="cart-prod__wrap">
                            <div class="cart-prod" id="cart-slider">
                                <?php foreach($products as $product) { ?>
                                <div class="cart-item">
                                    <?php if ($product['thumb']) { ?>
                                    <td class="img">
                                        <div class="cart-item__img"><a href="<?php echo $product['href']; ?>"><img src="<?php echo $product['thumb']; ?>" alt="<?php echo $product['name']; ?>"></a></div>
                                    </td>
                                    <?php } ?>
                                    <div class="cart-item__info">
                                        <a href="<?php echo $product['href']; ?>" class="title"><?php echo $product['name']; ?></a>
                                        <?php if ($product['option']) { ?>
                                        <p>
                                            <?php foreach ($product['option'] as $option) { ?>
                                            <?php echo $option['name']; ?>: <span><?php echo $option['value']; ?></span><br />
                                            <?php } ?>
                                        </p>
                                        <?php } ?>
                                        <p>Количество:<?php echo $product['quantity']; ?></p>
                                        <p class="price">
                                            <b><?php echo $product['total']; ?></b> руб.
                                        </p>
                                    </div>
                                </div>
                                <?php } ?>
                            </div>

                            <!-- nav -->
                            <div class="cart-prod__nav">
                                <span class="cartprod-prev"></span>
                                <span class="cartprod-next"></span>
                            </div>
                        </div>

                        <!-- total -->
                        <div class="cart-r__check">
                            <!-- <a href="<?php echo $cart_utl; ?>" class="btn btn-promo">Изменить корзину</a> -->
                            <div class="cart-r__total">
                                <dl>
                                    <dt><b>Общая сумма</b></dt>
                                    <dd><strong><?php echo $total_item; ?></strong> руб.</dd>
                                </dl>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="b-order-form">
                    <form id="formactpost" action="" method="post">
                        <!-- adress -->
                        <div class="order-step order-adress visible"></div>
                        <!-- delivery -->
                        <div class="order-step order-delivery"></div>
                        <!-- pay -->
                        <div class="order-step order-pay"></div>
                        <!-- personal -->
                        <div class="order-step order-personal">
                            <h4>4. Подтвердить</h4>
                            <div class="order-step__form">
                                <div class="row">
                                    <div class="col-b6 col-m12">
                                        <div class="row">
                                            <div class="col-b6">
                                                <label for="firstname">Имя:</label>
                                                <input type="text" class="inputbox" name="firstname" id="firstname" value="">
                                                <span class="input-tips"></span>
                                            </div>
                                            <div class="col-b6">
                                                <label for="lastname">Фамилия:</label>
                                                <input type="text" class="inputbox" name="lastname" id="lastname" value="">
                                                <span class="input-tips"></span>
                                            </div>
                                        </div>
                                        <p><span class="input-tips">Имя и фамилия необходимы для доставки почтой </span></p>
                                        <p><label for="password">Пароль:</label>
                                            <input type="password" class="inputbox" name="password" id="password" value="">
                                            <span class="input-tips"></span>
                                        </p>
                                        <p><label for="confirm">Повтор пароля:</label>
                                            <input type="password" class="inputbox" name="confirm" id="confirm" value="">
                                            <span class="input-tips"></span>
                                        </p>
                                        <p><label for="telephone">Телефон:</label>
                                            <input type="text" class="inputbox" name="telephone" id="telephone" value="">
                                            <span class="input-tips">Без тире, пробелов и скобок, например: +71112223456 <br>Мы позвоним вам, чтобы еще раз все уточнить </span>
                                        </p>
                                    </div>
                                    <div class="col-b6 col-m12">
                                        <p><label for="email">Электронная почта:</label>
                                            <input type="email" name="email" class="inputbox" id="email" value=""> 
                                            <span class="input-tips"></span>
                                        </p>
                                        <p><label for="mess">Комментарии к заказу:</label>
                                            <textarea name="mess" id="mess" class="inputbox"></textarea>
                                        </p>
                                        <div class="row b-btn">
                                            <div class="erg col-b12 col-m12 col-s12 col-xs12"></div>
                                            <div class="col-b6 col-m12 col-s6 col-xs12">
                                                <input type="checkbox" name="news" id="p4" value="1" /><label class="l-float grey" for="p4">Подписаться на скидки и акции</label>
                                            </div>
                                            <div class="col-b6 col-m12 col-s6 col-xs12">
                                                <input id="button-submit" type="button" class="btn btn-flat-green btn-wide" value="Продолжить">
                                            </div>
                                        </div>
                                    </div>    
                                </div>
                            </div>
                        </div>
                        <div class="order-step order-submit" id="collapse-checkout-confirm" style="display:none">
                            <h4>Заказать</h4>
                            <div class="order-step__form panel-body">
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript"><!--
$(document).ready(function() {
    shippingAddress();
    
});

	function saveAddress () {
		var dataf = $("#formactpost").serializeArray();
		 $.ajax({
            url: 'index.php?route=checkout/checkout/address',
            type: 'post',
            data: dataf,
            dataType: 'json',
            beforeSend: function() {
                $('.error-panel, .error-tipss').remove();
                $('.erd').html('');
            },
            success: function(json) {
                if (json['address']) {
                    shimetSave();
                   //confirmMethod();
                } else if (json['error']) {
                    $.each(json['error'], function( index, element ) {
                        $('input[name=\'' + index + '\']').addClass('error').before('<span class="error-tipss">' + element + '</span>');
                    });
                }
            },
            error: function(xhr, ajaxOptions, thrownError) {
                alert(thrownError + "\r\n" + xhr.statusText + "\r\n" + xhr.responseText);
            }
        });  
	}

    function shimetSave() {
        var smval = $('input[name=\'shipping_method\']:checked').val();
        $.ajax({
            url: 'index.php?route=checkout/shipping_method/save',
            type: 'post',
            data: {shipping_method: smval},
            dataType: 'json',
            beforeSend: function() {
                //$('#button-shipping-method').button('loading');
            },
            complete: function() {
                //$('#button-shipping-method').button('reset');
            },
            success: function(json) {
                $('.alert, .text-danger').remove();

                if (json['redirect']) {
                    //location = json['redirect'];
                } else if (json['error']) {
                    if (json['error']['warning']) {
                        $('#collapse-shipping-method .panel-body').prepend('<div class="alert alert-warning">' + json['error']['warning'] + '<button type="button" class="close" data-dismiss="alert">&times;</button></div>');
                    }
                } else {
                   // confirmMethod();
                   littlecart();
                }
            },
            error: function(xhr, ajaxOptions, thrownError) {
                alert(thrownError + "\r\n" + xhr.statusText + "\r\n" + xhr.responseText);
            }
        });
    }
    
    function shimetFirstSave() {
        var smval = $('input[name=\'shipping_method\']:checked').val();
        $.ajax({
            url: 'index.php?route=checkout/shipping_method/save',
            type: 'post',
            data: {shipping_method: smval},
            dataType: 'json',
            success: function(json) {
                $('.alert, .text-danger').remove();

                if (json['error']) {
                    if (json['error']['warning']) {
                        $('#collapse-shipping-method .panel-body').prepend('<div class="alert alert-warning">' + json['error']['warning'] + '<button type="button" class="close" data-dismiss="alert">&times;</button></div>');
                    }
                } else {
                  
                }
            },
            error: function(xhr, ajaxOptions, thrownError) {
                alert(thrownError + "\r\n" + xhr.statusText + "\r\n" + xhr.responseText);
            }
        });
    }
    
    $(document).delegate('input[name=\'shipping_method\']', 'click', function() {
		//shimetSave();
		saveAddress ();
    });

function littlecart() {
    $.ajax({
        url: 'index.php?route=checkout/littlecart',
        dataType: 'html',
        success: function(html) {
            $('.b-order-cart').html(html);
            //saveAddress();
            shippingMethod();
        },
        error: function(xhr, ajaxOptions, thrownError) {
            alert(thrownError + "\r\n" + xhr.statusText + "\r\n" + xhr.responseText);
        }
    });
};

function shippingAddress() {
    $.ajax({
        url: 'index.php?route=checkout/shipping_address',
        dataType: 'html',
        success: function(html) {
            $('.order-adress').html(html);
            //saveAddress();
            //shippingMethod();
            littlecart();
        },
        error: function(xhr, ajaxOptions, thrownError) {
            alert(thrownError + "\r\n" + xhr.statusText + "\r\n" + xhr.responseText);
        }
    });
};


function shippingMethod () {
    $.ajax({
        url: 'index.php?route=checkout/shipping_method',
        dataType: 'html',
        success: function(html) {
            // Add the shipping address
            $('.order-delivery').html(html);
            //shimetSave();
            paymentMethod();
        },
        error: function(xhr, ajaxOptions, thrownError) {
            alert(thrownError + "\r\n" + xhr.statusText + "\r\n" + xhr.responseText);
        }
    });
}

function paymentMethod() {
    $.ajax({
        url: 'index.php?route=checkout/payment_method',
        dataType: 'html',
        success: function(html) {
            $('.order-pay').html(html);
            $.ajax({
                url: 'index.php?route=checkout/payment_address',
                dataType: 'html',
                success: function(html) {
                    pmsave();
                }
            });
        },
        error: function(xhr, ajaxOptions, thrownError) {
            alert(thrownError + "\r\n" + xhr.statusText + "\r\n" + xhr.responseText);
        }
    });
};

    function confirmMethod() {
        $.ajax({
            url: 'index.php?route=checkout/confirm',
            dataType: 'html',
            success: function(html) {
                $('#collapse-checkout-confirm .panel-body').html(html);
                $('#collapse-checkout-confirm').show();
                $('#order-comments').hide();
                $('.order-adress, .order-delivery, .order-pay, .order-personal').hide();
            },
            error: function(xhr, ajaxOptions, thrownError) {
                alert(thrownError + "\r\n" + xhr.statusText + "\r\n" + xhr.responseText);
            }
        });
    };

    $(document).delegate('input[name=\'payment_method\']', 'click', function() {
        pmsave();
    });

    //
    function pmsave() {
        var vop = $('.order-pay input[type=\'radio\']:checked').val();
        $.ajax({
            url: 'index.php?route=checkout/payment_method/save',
            type: 'post',
            data: {payment_method: vop},
            dataType: 'json',
            beforeSend: function() {
               // $('#button-payment-method').button('loading');
            },
            complete: function() {
                //$('#button-payment-method').button('reset');
            },
            success: function(json) {
                $('.alert, .text-danger').remove();

                if (json['redirect']) {
                    location = json['redirect'];
                } else if (json['error']) {
                    if (json['error']['warning']) {
                        $('#collapse-payment-method .panel-body').prepend('<div class="alert alert-warning">' + json['error']['warning'] + '<button type="button" class="close" data-dismiss="alert">&times;</button></div>');
                    }
                } else {
	                shimetFirstSave();
                }
            },
            error: function(xhr, ajaxOptions, thrownError) {
                alert(thrownError + "\r\n" + xhr.statusText + "\r\n" + xhr.responseText);
            }
        });
    }


    // button-submit
    $(document).delegate('#button-submit', 'click', function() {
        var dataf = $("#formactpost").serializeArray();

        $.ajax({
            url: 'index.php?route=checkout/order/login',
            type: 'post',
            data: dataf,
            dataType: 'json',
            beforeSend: function() {
                $('.error-panel, .error-tipss').remove();
				$('input').removeClass('error');
                $('.erd').html('');
            },
            success: function(json) {
                if (!json['error']) { 
                    $.ajax({
                        url: 'index.php?route=checkout/checkout/address',
                        type: 'post',
                        data: dataf,
                        dataType: 'json',
                        beforeSend: function() {
                            $('.error-panel, .error-tipss').remove();
                            $('.erd').html('');
                        },
                        success: function(json) {
                            if (json['address']) {
                               // shimetSave();
                               pmsave();
                               confirmMethod();
                            } else if (json['error']) {
                                $.each(json['error'], function( index, element ) {
                                    $('input[name=\'' + index + '\']').addClass('error').before('<span class="error-tipss">' + element + '</span>');
                                });
                            }
                        },
                        error: function(xhr, ajaxOptions, thrownError) {
                            alert(thrownError + "\r\n" + xhr.statusText + "\r\n" + xhr.responseText);
                        }
                    });   
                } else {
                   $.each(json['error'], function( index, element ) {
                        $('input[name=\'' + index + '\']').addClass('error').before('<span class="error-tipss">' + element + '</span>');
                    });
                }

            }
        });
    })
//--></script>
<?php echo $footer; ?>