<!------------------------ subscribe -->
<div class="b-subscribe">
	<div class="wrap">
		<div id="frm_subscribe" class="b-subsform">
			<form name="subscribe" id="subscribe" class="clearfix">
				<label><?php echo $title; ?></label>
				<div class="b-input">
					<input type="text" name="subscribe_email" id="subscribe_email" class="inputbox" placeholder="Введите электронную почту"><!--
            --><input type="button" onclick="email_subscribe()" class="btn btn-flat" value="Подписаться">
					<div id="subscribe_result"></div>
				</div>
				<div class="b-input"  style="display:none;">
					<input class="form-control" size="50" class="input-new" type="text" value="<?php echo $text_email; ?>" name="subscribe_name" id="subscribe_name">
				</div>
				<?php for($ns=1;$ns<=$option_fields;$ns++) {
					$ns_var= "option_fields".$ns; ?>
				<div class="b-input">
					<?php if($$ns_var!=""){
						 echo($$ns_var."&nbsp;<br/>");
					echo('<input type="text" value="" name="option'.$ns.'" id="option'.$ns.'">');
					} ?>
				</div>
				<?php } ?>
				<?php if($option_unsubscribe) { ?>
				<div class="b-input">
					<a class="btn" onclick="email_unsubscribe()"><span><?php echo $entry_unbutton; ?></span></a>
				</div>
				<?php } ?>
			</form>
		</div>
	</div>
</div>

<script type="text/javascript"><!--
function email_subscribe(){
	$.ajax({
			type: 'post',
			url: 'index.php?route=module/newslettersubscribe/subscribe',
			dataType: 'html',
            data:$("#subscribe").serialize(),
			success: function (html) {
				eval(html);
			}
	}); 
}
function email_unsubscribe(){
	$.ajax({
			type: 'post',
			url: 'index.php?route=module/newslettersubscribe/unsubscribe',
			dataType: 'html',
            data:$("#subscribe").serialize(),
			success: function (html) {
				eval(html);
			}
	}); 
}
//--></script>
</div>
</div>
</div>
</div>
