/* ==========================================================================
   HTML5 display definitions
   ========================================================================== */
/**
 * Correct `block` display not defined in IE 8/9.
 */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary {
  display: block;
}

/**
 * Correct `inline-block` display not defined in IE 8/9.
 */
audio,
canvas,
video {
  display: inline-block;
}

/**
 * Prevent modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS 5 devices.
 */
audio:not([controls]) {
  display: none;
  height: 0;
}

/**
 * Address `[hidden]` styling not present in IE 8/9.
 * Hide the `template` element in IE, Safari, and Firefox < 22.
 */
[hidden],
template {
  display: none;
}

/* ==========================================================================
   Base
   ========================================================================== */
/**
 * 1. Set default font family to sans-serif.
 * 2. Prevent iOS text size adjust after orientation change, without disabling
 *    user zoom.
 */
html {
  font-family: sans-serif;
  /* 1 */
  -ms-text-size-adjust: 100%;
  /* 2 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
}

/**
 * Remove default margin.
 */
body {
  margin: 0;
}

/* ==========================================================================
   Links
   ========================================================================== */
/**
 * Remove the gray background color from active links in IE 10.
 */
a {
  background: transparent;
}

/**
 * Address `outline` inconsistency between Chrome and other browsers.
 */
a:focus {
  outline: thin dotted;
}

/**
 * Improve readability when focused and also mouse hovered in all browsers.
 */
a:active,
a:hover {
  outline: 0;
}

/* ==========================================================================
   Typography
   ========================================================================== */
/**
 * Address variable `h1` font-size and margin within `section` and `article`
 * contexts in Firefox 4+, Safari 5, and Chrome.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/**
 * Address styling not present in IE 8/9, Safari 5, and Chrome.
 */
abbr[title] {
  border-bottom: 1px dotted;
}

/**
 * Address style set to `bolder` in Firefox 4+, Safari 5, and Chrome.
 */
b,
strong {
  font-weight: bold;
}

/**
 * Address styling not present in Safari 5 and Chrome.
 */
dfn {
  font-style: italic;
}

/**
 * Address differences between Firefox and other browsers.
 */
hr {
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  height: 0;
}

/**
 * Address styling not present in IE 8/9.
 */
mark {
  background: #ff0;
  color: #000;
}

/**
 * Correct font family set oddly in Safari 5 and Chrome.
 */
code,
kbd,
pre,
samp {
  font-family: monospace, serif;
  font-size: 1em;
}

/**
 * Improve readability of pre-formatted text in all browsers.
 */
pre {
  white-space: pre-wrap;
}

/**
 * Set consistent quote types.
 */
q {
  quotes: "\201C" "\201D" "\2018" "\2019";
}

/**
 * Address inconsistent and variable font size in all browsers.
 */
small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` affecting `line-height` in all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}

/* ==========================================================================
   Embedded content
   ========================================================================== */
/**
 * Remove border when inside `a` element in IE 8/9.
 */
img {
  border: 0;
}

/**
 * Correct overflow displayed oddly in IE 9.
 */
svg:not(:root) {
  overflow: hidden;
}

/* ==========================================================================
   Figures
   ========================================================================== */
/**
 * Address margin not present in IE 8/9 and Safari 5.
 */
figure {
  margin: 0;
}

/* ==========================================================================
   Forms
   ========================================================================== */
/**
 * Define consistent border, margin, and padding.
 */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

/**
 * 1. Correct `color` not being inherited in IE 8/9.
 * 2. Remove padding so people aren't caught out if they zero out fieldsets.
 */
legend {
  border: 0;
  /* 1 */
  padding: 0;
  /* 2 */
}

/**
 * 1. Correct font family not being inherited in all browsers.
 * 2. Correct font size not being inherited in all browsers.
 * 3. Address margins set differently in Firefox 4+, Safari 5, and Chrome.
 */
button,
input,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 2 */
  margin: 0;
  /* 3 */
}

/**
 * Address Firefox 4+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */
button,
input {
  line-height: normal;
}

/**
 * Address inconsistent `text-transform` inheritance for `button` and `select`.
 * All other form control elements do not inherit `text-transform` values.
 * Correct `button` style inheritance in Chrome, Safari 5+, and IE 8+.
 * Correct `select` style inheritance in Firefox 4+ and Opera.
 */
button,
select {
  text-transform: none;
}

/**
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *    and `video` controls.
 * 2. Correct inability to style clickable `input` types in iOS.
 * 3. Improve usability and consistency of cursor style between image-type
 *    `input` and others.
 */
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  /* 2 */
  cursor: pointer;
  /* 3 */
}

/**
 * Re-set default cursor for disabled elements.
 */
button[disabled],
html input[disabled] {
  cursor: default;
}

/**
 * 1. Address box sizing set to `content-box` in IE 8/9/10.
 * 2. Remove excess padding in IE 8/9/10.
 */
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
}

/**
 * 1. Address `appearance` set to `searchfield` in Safari 5 and Chrome.
 * 2. Address `box-sizing` set to `border-box` in Safari 5 and Chrome
 *    (include `-moz` to future-proof).
 */
input[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  /* 2 */
  box-sizing: content-box;
}

/**
 * Remove inner padding and search cancel button in Safari 5 and Chrome
 * on OS X.
 */
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * Remove inner padding and border in Firefox 4+.
 */
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

/**
 * 1. Remove default vertical scrollbar in IE 8/9.
 * 2. Improve readability and alignment in all browsers.
 */
textarea {
  overflow: auto;
  /* 1 */
  vertical-align: top;
  /* 2 */
}

/* ==========================================================================
   Tables
   ========================================================================== */
/**
 * Remove most spacing between table cells.
 */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

@font-face {
  font-family: "MyriadPro-Light";
  src: url('../fonts/MyriadPro-Light.eot?1411634176');
  src: url('../fonts/MyriadPro-Light.eot?&1411634176#iefix') format('embedded-opentype'), url('../fonts/MyriadPro-Light.woff?1411634176') format('woff'), url('../fonts/MyriadPro-Light.svg?1411634176') format('svg');
}
@font-face {
  font-family: "MyriadPro-Regular";
  src: url('../fonts/MyriadPro-Regular.eot?1425732944');
  src: url('../fonts/MyriadPro-Regular.eot?&1425732944#iefix') format('embedded-opentype'), url('../fonts/MyriadPro-Regular.woff?1425732944') format('woff'), url('../fonts/MyriadPro-Regular.otf?1188223720') format('opentype'), url('../fonts/MyriadPro-Regular.svg?1425732944') format('svg');
}
@font-face {
  font-family: "MyriadPro-Bold";
  src: url('../fonts/MyriadPro-Bold.eot?1425732934');
  src: url('../fonts/MyriadPro-Bold.eot?&1425732934#iefix') format('embedded-opentype'), url('../fonts/MyriadPro-Bold.woff?1425732934') format('woff'), url('../fonts/MyriadPro-Bold.otf?1188223720') format('opentype'), url('../fonts/MyriadPro-Bold.svg?1425732934') format('svg');
}
@font-face {
  font-family: "MyriadPro-Semibold";
  src: url('../fonts/MyriadPro-Semibold.eot?1411634212');
  src: url('../fonts/MyriadPro-Semibold.eot?&1411634212#iefix') format('embedded-opentype'), url('../fonts/MyriadPro-Semibold.woff?1411634212') format('woff'), url('../fonts/MyriadPro-Semibold.otf?1411478154') format('opentype'), url('../fonts/MyriadPro-Semibold.svg?1411634212') format('svg');
}
@font-face {
  font-family: "MyriadPro-Condensed";
  src: url('../fonts/MyriadPro-Condensed.eot?1425732922');
  src: url('../fonts/MyriadPro-Condensed.eot?&1425732922#iefix') format('embedded-opentype'), url('../fonts/MyriadPro-Condensed.woff?1425732922') format('woff'), url('../fonts/MyriadPro-Condensed.otf?1188223720') format('opentype'), url('../fonts/MyriadPro-Condensed.svg?1425732922') format('svg');
}
html {
  font-size: 100%;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-tap-highlight-color: transparent;
  background-color: #fff;
}

body {
  font-family: "MyriadPro-Regular", Arial, sans-serif;
  font-size: 14px;
  line-height: 1.4;
  color: #3a3a3a;
  background-color: #fff;
}

.page500 {
  text-align: center;
  padding: 10% 0 3%;
}

.page500__img img {
  max-width: 100%;
}

.page500__text {
  padding: 65px 20px;
  color: #fff;
  background-color: #8abf49;
  font-family: "MyriadPro-Condensed";
  font-size: 48px;
  line-height: 52px;
  margin-bottom: 75px;
}
.page500__text p {
  margin: 0 0 15px 0;
}
.page500__text .ps {
  font-size: 18px;
  line-height: 22px;
  font-family: "MyriadPro-Regular";
}

/* ==========================================================================
   responsive
  ========================================================================== */
@media (min-width: 1000px) {
  .productfull-related-carousel .productfull-related-carousel-holder {
    margin: 0;
  }

  .owl-controls {
    display: none;
  }
}
@media (min-width: 950px) {
  .sales .col-m3 {
    width: 25%;
  }

  .sales .col-m9 {
    width: 75%;
  }

  .col-b4 {
    width: 33.33333%;
  }

  .col-b3 {
    width: 25%;
  }

  .col-b5 {
    width: 41.666%;
  }

  .col-b7 {
    width: 58.333%;
  }

  .col-b6 {
    width: 50%;
  }

  .col-b9 {
    width: 75%;
  }

  footer .col-m4 {
    width: 33.33333%;
  }
}
@media (min-width: 600px) {
  .contact .col-m3 {
    width: 35%;
  }

  .contact .col-m6 {
    width: 65%;
  }
}
@media (max-width: 1190px) {
  .b-search .inputbox {
    width: 180px;
  }
}
@media (max-width: 1150px) {
  .b-slider .slider-links li a {
    font-size: 24px;
  }

  .b-search form {
    display: none;
  }

  .b-search a.btn-search {
    display: inline-block;
  }
}
@media (max-width: 1100px) {
  .catalog .col-b3 {
    width: 33.33333%;
  }

  .catalog .col-b9 {
    width: 66.6666%;
  }

  .b-topmenu .tel span {
    display: none;
  }
  .b-topmenu .tel .icon-tel {
    display: inline-block;
  }
  .b-topmenu .tel:hover {
    background: #fff;
    cursor: pointer;
    border-left: 1px solid #fff;
  }
  .b-topmenu .tel:hover .icon-tel {
    background-position: -121px -69px;
  }

  .b-info ul li a {
    line-height: 24px;
    padding-top: 15px;
  }
}
@media (max-width: 1050px) and (min-width: 980px) {
  .mainpage-cat__item .mainpage-cat__title {
    font-size: 34px;
  }

  .mainpage-cat__item .mainpage-cat__img {
    max-width: 60%;
    right: 5px;
  }
}
@media (max-width: 980px) {
  .col-m6 {
    width: 50%;
  }

  .col-m8 {
    width: 66.6666%;
  }

  .col-m4 {
    width: 33.33333%;
  }

  .user .col-m4 {
    width: 30%;
  }
}
@media (max-width: 950px) {
  .col-m12 {
    width: 100%;
  }

  #cat-sliderTabs .col-b3 {
    display: none;
  }

  .b-topmenu,
  .b-search,
  .mainmenu-list .mainmenu-contact {
    display: none;
  }

  .mob-menu {
    display: block;
  }

  .mainmenu-list li {
    margin-right: 0;
    margin-left: 28px;
  }
  .mainmenu-list li:first-child {
    margin-left: 0;
  }

  .b-info ul li a {
    line-height: 24px;
    height: 125px;
    text-align: center;
    background-position: center top;
    padding: 75px 2% 0 2% !important;
  }
  .b-info ul li a.info__pay {
    background-position: center 3px;
  }
  .b-info ul li a.info__ship {
    background-position: center 12px;
  }
  .b-info ul li a.info__sale {
    background-position: center 13px;
  }

  .productfull-info-icon {
    padding: 0 15px 10px 15px;
  }
  .productfull-info-icon ul li {
    line-height: 24px;
    height: 125px;
    text-align: center;
    background-position: center 13px;
    padding: 75px 2% 0 2% !important;
  }
  .productfull-info-icon ul li.info__ship {
    background-position: center 26px;
  }
  .productfull-info-icon ul li.info__sale {
    background-position: center 26px;
  }

  .contact .col-s12,
  .sales .col-s12 {
    width: 100%;
  }

  .usermenu-top {
    display: none;
  }

  #shop-filter {
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10;
  }

  .mob-filter,
  .filter-hide {
    display: block;
  }

  #shop-products {
    width: auto;
    float: none;
    margin-left: 155px;
  }

  .brands .col-b4 {
    width: 33.3333%;
  }

  .cart-table .del-link {
    width: 12px;
    height: 12px;
    text-indent: -99999px;
    display: inline-block;
    background-position: center center;
  }

  .cart .r-hidden {
    display: none;
  }

  .cart .r-show {
    display: inline-block;
  }

  .user .b-input .col-s4 {
    width: 33.3333%;
  }

  .productfull-info {
    width: 400px;
  }

  .productfull__btn .to-cart {
    margin-bottom: 15px;
  }
  .productfull__btn .in-fav {
    margin: 0 17px 0 0;
  }
}
@media (max-width: 800px) {
  .brands .col-s6 {
    width: 50%;
  }

  .cart-table .img {
    float: none;
    margin-bottom: 10px;
  }

  .cart-checkout .b-promocode .btn {
    width: 65px;
  }
  .cart-checkout .b-promocode .btn span {
    display: inline-block;
    height: 20px;
    position: relative;
    top: -2px;
    width: 24px;
    text-indent: -99999px;
    background: url(../images/submit.png) center center no-repeat;
  }

  .mainpage-cat__item .mainpage-cat__title {
    font-size: 34px;
    line-height: 38px;
  }

  .mainpage-cat__item .mainpage-cat__img {
    max-width: 56%;
    right: 5px;
    bottom: 6px;
  }
}
@media (min-width: 700px) and (max-width: 950px) {
  .productfull__shortdesc.r-hidden,
  .productfull__share.r-hidden,
  .productfull__qty-set.r-hidden,
  .productfull__price-sale.r-hidden {
    display: none;
  }

  .productfull__shortdesc.r-show,
  .productfull__share.r-show,
  .b-set.r-show {
    display: block;
  }

  .productfull__brand {
    margin-bottom: 10px;
  }

  .productfull__price {
    float: left;
    width: 45%;
    line-height: 63px;
  }
  .productfull__price label {
    display: inline-block;
    margin-right: 15px;
    width: auto;
  }
  .productfull__price .productfull__price-num {
    line-height: 56px;
  }

  .productfull__qty {
    border-top: 1px solid #dfdfdf;
    float: left;
    width: 55%;
    line-height: 63px;
    padding: 0;
  }
  .productfull__qty label {
    display: inline-block;
    margin-right: 15px;
    width: auto;
  }

  .productfull-img-wrap .productfull-img {
    height: 300px;
  }

  .productfull-img-wrap .productfull-img img {
    max-height: 270px;
  }

  .productfull-img-wrap .productfull-img .img-zoom {
    line-height: 300px;
  }

  .productfull-img-wrap .productfull-thumbs {
    position: relative;
    right: auto;
    overflow: hidden;
    margin: 0 -1.5%;
  }
  .productfull-img-wrap .productfull-thumbs .thumbs-link {
    float: left;
    margin: 15px 1.5%;
    width: 22%;
    height: 45px;
  }
  .productfull-img-wrap .productfull-thumbs .thumbs-link img {
    max-height: 45px;
  }

  .productfull-img-wrap.with-thumbs .productfull-img {
    padding-right: 0;
  }
}
@media (max-width: 700px) {
  .btn-up {
    display: none;
  }

  .error-mess {
    margin: 15px 0 0 0;
  }
  .error-mess:before {
    top: -14px;
    left: 25px;
    border-right: 7px solid transparent;
    border-bottom: 7px solid #e63535;
    border-left: 7px solid transparent;
  }

  .btn {
    font-size: 16px;
  }

  .breadcrumbs {
    display: none;
  }

  .page-title {
    margin-top: 20px;
  }

  .b-search,
  .b-search form {
    display: block;
  }

  .b-search {
    float: left;
    margin: 15px 5px 0 20px;
    width: 50%;
  }
  .b-search .inputbox {
    width: 85%;
  }

  .b-search a.btn-search,
  .mob-menu,
  .b-topmenu-mob {
    display: none;
  }

  .b-mainmenu .wrap {
    padding: 0;
  }

  .mob-mainmenu,
  .mainmenu-list .mainmenu-contact {
    display: block;
  }

  .mainmenu-list {
    display: none;
    position: absolute;
    top: 62px;
    left: 0;
    background: #fff;
    z-index: 50;
    width: 100%;
  }
  .mainmenu-list li {
    display: block;
    margin: 0;
    border-bottom: 2px solid #8abf49;
  }
  .mainmenu-list li a {
    color: #232323;
    border: none;
    padding: 20px 25px;
  }
  .mainmenu-list li a:hover {
    border: none;
  }
  .mainmenu-list li.current a {
    border: none;
  }

  .mainpage-cat .col-m6 {
    padding: 0;
  }

  .mainpage-cat__item {
    margin-bottom: 0;
  }
  .mainpage-cat__item.cat11, .mainpage-cat__item.cat12 {
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
  }

  .b-slider .sliderPanel .sliderPanel__img {
    max-width: 75%;
    max-height: 80%;
  }

  .leftside {
    padding: 0;
    margin-left: -15px;
  }

  .leftside-nav li a {
    font-family: "MyriadPro-Condensed";
    font-size: 24px;
    padding: 25px 15px;
    display: block;
    text-transform: uppercase;
    color: #888888;
  }
  .leftside-nav li a:hover {
    text-decoration: underline;
  }
  .leftside-nav li.current a {
    color: #fff;
    background: #8abf49;
  }
  .leftside-nav li.current a :hover {
    text-decoration: none;
  }

  .user .col-s12 {
    width: 100%;
  }
  .user .leftside {
    margin-left: -15px;
    margin-right: -15px;
    margin-bottom: 15px;
    border: none;
  }
  .user .leftside h3 {
    margin: 0 0 15px 15px;
    font-size: 48px;
    font-family: "MyriadPro-Condensed";
  }
  .user .leftside-nav {
    border-top: 2px solid #8abf49;
    border-bottom: 2px solid #8abf49;
    display: table;
  }
  .user .leftside-nav li {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
  }
  .user .leftside-nav li a {
    height: 116px;
  }
  .user .leftside-nav li a:hover {
    text-decoration: none;
  }

  .page404__btn a {
    font-size: 18px;
  }

  .page-content.sales .sale-item__img {
    margin-left: -15px;
    margin-right: -15px;
    overflow: hidden;
  }

  .sale-item__img img {
    width: 140%;
    max-width: 140%;
  }

  .sale-item__title {
    bottom: 0;
    top: auto;
    right: auto;
    left: 15px;
    text-align: left;
    color: #fff;
    width: 100%;
    padding-left: 15px;
    padding-top: 10px;
    margin-left: -15px;
    background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuMCIgeTE9IjAuNSIgeDI9IjEuMCIgeTI9IjAuNSI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzNjYTFkZSIgc3RvcC1vcGFjaXR5PSIwLjUiLz48c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMwMDAwMDAiIHN0b3Atb3BhY2l0eT0iMC4wIi8+PC9saW5lYXJHcmFkaWVudD48L2RlZnM+PHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgZmlsbD0idXJsKCNncmFkKSIgLz48L3N2Zz4g');
    background-size: 100%;
    background-image: -webkit-gradient(linear, 0% 50%, 100% 50%, color-stop(0%, rgba(60, 161, 222, 0.5)), color-stop(100%, rgba(0, 0, 0, 0)));
    background-image: -moz-linear-gradient(left, rgba(60, 161, 222, 0.5), rgba(0, 0, 0, 0));
    background-image: -webkit-linear-gradient(left, rgba(60, 161, 222, 0.5), rgba(0, 0, 0, 0));
    background-image: linear-gradient(to right, rgba(60, 161, 222, 0.5), rgba(0, 0, 0, 0));
  }

  .mob-filter {
    width: 100%;
    margin-bottom: 23px;
  }
  .mob-filter .leftside {
    margin-left: 0;
    padding: 15px 20px;
    overflow: hidden;
  }
  .mob-filter h3 {
    float: left;
  }
  .mob-filter .b-filter {
    float: left;
    width: 21%;
    margin: 0;
  }
  .mob-filter .b-filter .b-filter__title {
    margin: 0 auto;
    width: 80px;
  }

  #shop-filter {
    width: 100%;
  }
  #shop-filter .leftside {
    margin-left: 0;
    padding: 15px 20px;
  }

  #shop-products {
    width: 100%;
    margin-left: 0;
  }

  .pagination-top {
    position: relative;
    top: 0;
    right: auto;
    margin: 123px 15px 25px 15px;
  }

  .pagination-top .show-all-product {
    margin-left: 0;
    margin-right: 15px;
  }

  .cart-checkout .b-total {
    float: none;
  }

  .cart-checkout .b-promocode {
    float: none;
    margin-bottom: 15px;
  }

  .cart-table th,
  .cart-table td {
    padding: 14px 10px;
  }

  .back-in-cat__top {
    display: none;
  }

  .back-in-cat__bottom {
    display: inline-block;
    margin-top: 15px;
  }

  .slider-wrap {
    padding: 0;
  }

  .search-head .b-pagesearch .inputbox {
    width: 220px;
  }

  .current-sale__product .col-s6 {
    width: 50%;
  }

  .current-sale__img {
    margin-left: -15px;
    margin-right: -15px;
  }

  .about-img {
    margin-right: -15px;
  }
  .about-img img {
    float: none;
    margin: 0 0 25px 0;
    width: 100%;
  }

  .productfull .col-s12 {
    width: 100%;
  }

  .productfull-info {
    width: 100%;
  }

  .productfull-img-wrap {
    width: 100%;
  }

  .productfull__btn .to-cart {
    margin-bottom: 0;
  }
  .productfull__btn .in-fav {
    margin: 0 17px;
  }

  .productfull__add-reviews {
    margin-left: 0;
    display: none;
  }

  .productfull__reviews .reviews__btn .btn-light {
    display: inline-block;
    float: right;
  }

  .r-show.productfull__brand {
    margin-bottom: 20px;
    display: block;
  }

  .productfull__title.r-show {
    display: block;
  }

  .productfull__title.r-hidden,
  .productfull__brand.r-hidden {
    display: none;
  }

  .productfull-related-carousel .col-s6 {
    width: 50%;
  }

  .cart-checkout .b-promocode .inputbox {
    width: 200px;
  }

  .cart .rub {
    font-size: 0.9em;
  }

  .user-btn input.btn {
    float: none;
  }
}
@media (max-width: 650px) and (min-width: 480px) {
  .mainpage-cat__item .mainpage-cat__title {
    font-size: 32px;
    line-height: 36px;
  }

  .mainpage-cat__item .mainpage-cat__img {
    max-width: 57%;
    right: 5px;
    bottom: 6px;
  }
}
@media (max-width: 600px) {
  .b-logo .logo-text {
    display: none;
  }

  .b-logo .logo-link {
    width: 265px;
    height: 55px;
    background: url(../images/logo-mob.png) no-repeat;
  }
  .b-logo .logo-link:after {
    content: "New Thai Shop is open!";
    position: absolute;
    width: 140px;
    left: 135px;
    top: 8px;
    display: inline-block;
    text-decoration: none;
  }

  .b-info .r-show,
  .productfull-info-icon .r-show {
    display: block;
  }
  .b-info .r-hidden,
  .productfull-info-icon .r-hidden {
    display: none;
  }

  .col-s6 {
    width: 50%;
  }

  .col-s12 {
    width: 100%;
  }

  .brands .col-xs-12 {
    width: 100%;
  }

  .s-hide {
    display: none;
    opacity: 0;
  }

  footer {
    padding: 22px 0 20px 0;
  }

  .footer-soc {
    text-align: right;
    float: right;
    width: 200px;
    margin-top: 30px;
  }
  .footer-soc li {
    display: inline-block;
  }
  .footer-soc li a {
    color: transparent;
    width: 34px;
    margin-bottom: 0;
    margin-left: 13px;
    overflow: hidden;
  }

  .mainsite-link {
    display: block;
    position: relative;
    z-index: 2;
    float: left;
    margin-top: -37px;
  }

  .b-search {
    margin: 15px 5px 0 15px;
    width: 45%;
  }
  .b-search .inputbox {
    width: 80%;
  }

  .brand-item__img {
    margin: 0 -15px;
  }

  .content-img img {
    width: 100% !important;
  }
  .content-img .r-hide {
    display: none;
  }

  .mob-cart {
    display: block;
  }

  .cart-list {
    display: none;
  }

  .cart-checkout {
    margin: 15px;
  }
  .cart-checkout label {
    display: inline-block;
    margin: 0 40px 0 0;
  }
  .cart-checkout .b-total {
    margin: 25px 0 0 0;
  }

  .cart-tabs {
    margin: 0 -15px;
  }

  .tabs-nav {
    display: block;
  }
  .tabs-nav li {
    display: block;
    text-align: left;
  }

  .cart-tabs .inputbox {
    width: 100%;
  }

  .btn-checkout {
    margin-left: 5px;
  }

  .b-input {
    width: auto;
  }

  .toogle-cartmenu {
    display: block;
  }

  .tabs-nav {
    border-top: none;
  }
  .tabs-nav li {
    border-left: 0;
  }
  .tabs-nav li .tablink {
    border-top: 2px solid #8abf49;
  }
  .tabs-nav li .tablink.active {
    background: #8abf49;
  }

  .b-slider .slider-wrap .slider-nav-arrow span {
    top: 165px;
    width: 44px;
    height: 43px;
    background: url(../images/sprite.png) no-repeat;
  }
  .b-slider .slider-wrap .slider-nav-arrow span.fp-slider-prev {
    left: -100px;
    background-position: -67px -262px;
  }
  .b-slider .slider-wrap .slider-nav-arrow span.fp-slider-next {
    right: -100px;
    background-position: -113px -262px;
  }
}
@media (max-width: 550px) {
  .leftside-nav {
    border-top: none;
  }
  .leftside-nav li a {
    border-top: 2px solid #8abf49;
  }

  .user .leftside-nav {
    display: block;
    border-top: none;
  }
  .user .leftside-nav li {
    display: none;
    text-align: left;
  }
  .user .leftside-nav li a {
    height: auto;
  }
  .user .leftside-nav li.current {
    display: block;
  }

  .info .leftside {
    border: none;
  }
  .info .leftside-nav {
    display: none;
    border-bottom: 2px solid #8abf49;
  }

  .toogle-leftmenu-user,
  .toogle-leftmenu {
    display: block;
  }

  .productfull-related-carousel .owl-nav div {
    width: 25px;
    height: 25px;
    background: url(../images/owl-nav-small.png) no-repeat;
  }
  .productfull-related-carousel .owl-nav div.owl-prev {
    background-position: 0 0;
    left: -30px;
  }
  .productfull-related-carousel .owl-nav div.owl-next {
    background-position: -32px 0;
    right: -30px;
  }

  .user-orders-table {
    display: none;
  }

  .user-orders-mob {
    display: block;
  }

  .sale-info {
    margin-left: 0px;
  }
}
@media (max-width: 515px) {
  .footer-soc {
    text-align: left;
    float: none;
    width: 100%;
    margin-top: 30px;
  }
  .footer-soc li a {
    margin-left: 0;
    margin-right: 13px;
  }

  .mainsite-link {
    float: none;
    margin-top: 10px;
    font-size: 15px;
  }

  .b-search {
    display: none;
  }

  .mob-mainmenu {
    display: table;
    width: 100%;
  }
  .mob-mainmenu .search-link,
  .mob-mainmenu li {
    display: table-cell;
    width: 25%;
    float: none;
    vertical-align: top;
  }
  .mob-mainmenu .search-link a,
  .mob-mainmenu li a {
    width: auto;
  }
  .mob-mainmenu .search-link:first-child a,
  .mob-mainmenu li:first-child a {
    border: none;
  }

  .b-slider .sliderPanel .sliderPanel__logo {
    width: 101px;
    height: 83px;
    background: url(../images/slider-logo-mob.jpg) no-repeat;
  }

  .b-slider .sliderPanel .sliderPanel__img {
    max-width: 80%;
    max-height: 90%;
  }

  .sale-item__title {
    font-size: 30px;
  }
  .sale-item__title span {
    font-size: 48px;
    line-height: 48px;
  }

  .productfull__share.r-hidden,
  .productfull__qty-set.r-hidden,
  .productfull__price-sale.r-hidden {
    display: none;
  }

  .productfull__share.r-show {
    display: block;
  }

  .productfull-img-wrap .productfull-img {
    height: 300px;
  }

  .productfull-img-wrap .productfull-img img {
    max-height: 270px;
  }

  .productfull-img-wrap .productfull-img .img-zoom {
    line-height: 300px;
  }

  .productfull-img-wrap .productfull-thumbs {
    position: relative;
    right: auto;
    overflow: hidden;
    margin: 0 -1.5%;
  }
  .productfull-img-wrap .productfull-thumbs .thumbs-link {
    float: left;
    margin: 15px 1.5%;
    width: 47%;
    height: 75px;
    line-height: 75px;
  }
  .productfull-img-wrap .productfull-thumbs .thumbs-link img {
    max-height: 45px;
    vertical-align: middle;
  }

  .productfull-img-wrap.with-thumbs .productfull-img {
    padding-right: 0;
  }

  .productfull__btn .to-cart {
    margin-bottom: 15px;
  }

  .popup-content .fav-img {
    float: none;
    margin-right: 0;
    width: auto;
    margin-bottom: 15px;
    text-align: center;
  }
  .popup-content .fav-img img {
    max-height: 150px;
  }

  .popup-content .fav-login {
    margin-left: 0;
  }
}
@media (max-width: 480px) {
  .col-xs12,
  .current-sale__product .col-xs12 {
    width: 100%;
  }

  .page404__text {
    font-size: 32px;
    line-height: 38px;
  }

  .b-slider {
    margin-top: 1px;
  }

  .b-slider .slider-wrap .fp-pager a {
    height: 0;
  }

  .b-slider .sliderPanel .sliderPanel__name {
    width: 100%;
    bottom: 0;
  }

  .b-info,
  .productfull-info-icon {
    margin: 15px -15px;
    padding: 0 2px;
  }
  .b-info ul li,
  .productfull-info-icon ul li {
    width: 33.3%;
  }

  .mainpage-cat__item .mainpage-cat__img {
    max-width: 55%;
    max-height: 80%;
    bottom: 20px;
  }

  .b-slider .sliderPanel .sliderPanel__img {
    right: 15%;
    top: 45%;
  }

  .mob-filter h3 {
    display: none;
  }

  .mob-filter .b-filter {
    width: 25%;
  }

  .pagination-top .show-all-product {
    display: none;
  }

  .mob-filter,
  #shop-filter {
    padding: 0;
  }

  #shop-filter .leftside {
    margin-right: 0;
  }

  .mob-filter .leftside {
    padding: 15px 0px;
    margin-right: 0;
    margin-bottom: 0;
  }

  .shop-text.description {
    margin-top: 30px;
  }

  .sales-menu {
    margin-left: -15px;
    margin-right: -15px;
  }

  .leftside {
    margin-bottom: 20px;
    margin-right: -15px;
  }

  .decorate-list {
    margin-left: 0;
  }
  .decorate-list li {
    padding-left: 60px;
  }
  .decorate-list li:before {
    top: 10px;
    font-size: 24px;
    line-height: 40px;
    width: 40px;
    height: 40px;
  }

  .about-img {
    margin-left: -15px;
  }

  .panel {
    margin-left: -15px;
    margin-right: -15px;
    padding: 20px 15px;
  }

  .b-border {
    margin-left: -15px;
    margin-right: -15px;
  }

  .productfull__add-reviews .rate,
  .productfull__add-reviews .btn {
    float: none;
  }

  .productfull-info-icon ul li {
    font-size: 13px;
    line-height: 20px;
  }
}
@media (max-width: 450px) {
  .search-head .b-pagesearch .inputbox {
    width: 100%;
    margin-bottom: 15px;
  }

  .reviews__btn .btn {
    margin-right: 15px;
    margin-bottom: 15px;
  }

  .productfull__reviews .reviews__btn .btn-light {
    float: none;
  }

  .productfull__reviews .rate {
    position: relative;
    margin-bottom: 8px;
  }

  .productfull-related-carousel .productfull-related-carousel-holder {
    margin: 0 30px;
  }

  .page-content {
    margin-bottom: 30px;
  }

  .b-info ul li a {
    font-size: 13px;
    line-height: 20px;
  }
  .b-info ul li a.info__pay {
    background-image: url(../images/icon-cash-s.png);
  }
  .b-info ul li a.info__ship {
    background-image: url(../images/icon-truck-s.png);
  }
  .b-info ul li a.info__sale {
    background-image: url(../images/icon-sale-s.png);
  }

  .productfull-info-icon ul li.info__pay {
    background-image: url(../images/icon-cash-light-s.png);
  }
  .productfull-info-icon ul li.info__ship {
    background-image: url(../images/icon-truck-light-s.png);
  }
  .productfull-info-icon ul li.info__sale {
    background-image: url(../images/icon-sale-light-s.png);
  }
}
@media (max-width: 420px) {
  .productfull__btn .in-fav {
    margin: 0 15px 0 0;
  }
}
@media (max-width: 360px) {
  .mainpage-cat__item .mainpage-cat__title {
    font-size: 32px;
    line-height: 36px;
  }

  .mainpage-cat__item .mainpage-cat__img {
    max-width: 57%;
    right: 5px;
    bottom: 6px;
  }
}
